.header {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
  margin-top: 1rem;
  align-items: center;
}

.brand-name {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px;
  flex-basis: 20rem;
}
.header-name {
  display: flex;
  gap: 5rem;
  font-size: 1rem;
  letter-spacing: 4px;
}
.header-logos {
  display: flex;
  gap: 4rem;
  padding-top: 5px;
}
.profile {
  position: relative;
}
.profile-information {
  position: absolute;
  width: max-content;
  background-color: white;
}
