.navbar {
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 2px;
  font-weight: 500;
}
.navbar-item {
  flex-grow: 4;
  display: flex;
  justify-content: space-evenly;
}
.navbar-search {
  padding-right: 20px;
  padding-top: 14px;
}
input {
  height: 25px;
}
