.sidebar {
  letter-spacing: 2px;
  font-weight: 700;
  position: absolute;
  background-color: whitesmoke;
  top: 110%;
  width: max-content;
  padding: 1rem 2rem;
}

.sidebar-container {
  position: relative;
  margin-left: 1rem;
}
